html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

div {
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  padding: 0;
  border: 0; }

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent; }

input:focus, select:focus, button:focus, textarea:focus {
  outline: 0; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

@svg-load {}@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSansLight.woff") format("woff"); }

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSansRegular.woff") format("woff"); }

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSansSemibold.woff") format("woff"); }

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/OpenSansBold.woff") format("woff"); }

body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: #353535; }

.h-hexagon__position {
  position: relative;
  left: 48%;
  bottom: 0;
  z-index: 1;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%); }

.h-margin-bottom {
  margin-bottom: 40px; }

label.error {
  color: #e05454;
  font-size: 12px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

input.error {
  border: 1px solid #e05454; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #77c9d7;
  color: #353535;
  border-radius: 0; }

.x-wrapper {
  min-width: 960px;
  max-width: 100%;
  min-height: 100vh;
  background-color: #77c9d7; }
  .x-wrapper__inner {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
    min-height: 100vh;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }

.x-logo {
  width: 87px;
  height: 21px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 75.4 17.6' style='enable-background:new 0 0 75.4 17.6;' xml:space='preserve' fill='%23fff'%3E %3Cstyle type='text/css'%3E .st0{fill:%23FFFFFF;} %3C/style%3E %3Cg id='XMLID_1_'%3E %3Cpath id='XMLID_17_' class='st0' d='M30.5,12.6c0.4,0,0.5-0.2,0.5-0.5V7.3c0-0.4-0.1-0.3,0.2-0.3h3.2h2.8l5.6,5.5 c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.3,0.2-0.4c0-0.1,0-0.1-0.1-0.3l-4.8-4.7h1c1.5,0,2.6-0.7,3.2-2 c0.3-0.5,0.4-1.2,0.5-1.9c-0.1-0.6-0.2-1.1-0.5-1.6C42.2,0.5,41.1,0,39.6,0c-4.8,0-7.6,0-8.7,0C30.2,0.1,30,0.4,30,1v11 C30,12.4,30.1,12.6,30.5,12.6z M31,1.6c0-0.3-0.1-0.5,0.2-0.5h8.4c1.6,0,2.5,0.8,2.6,2.2c-0.1,1.8-1,2.8-2.6,2.8h-5.2h-3.2 c-0.4,0-0.2-0.5-0.2-0.8V1.6z'/%3E %3Cpath id='XMLID_26_' class='st0' d='M74.8,9.6C74,8,72.6,7.1,70.7,7.1h-4.7c-1.5,0-2.6-0.4-3.2-1.5C62.5,5,62.3,4.6,62.3,4 c0-0.5,0.2-0.9,0.4-1.3c0.6-0.8,1.6-1.3,3.3-1.4l8.9,0c0.6-0.1,0.5-0.3,0.5-0.8c0-0.4-0.2-0.5-0.5-0.5H66c-2,0-3.4,0.5-4.2,1.9 c-0.3,0.6-0.5,1.1-0.6,1.9c0,1.1,0.2,1.7,0.6,2.3C62.7,7.6,64,8.1,66,8.1h4.7c1,0,1.8,0.6,2.4,1.1c0.7,0.6,1.2,1.7,1.2,3 c-0.1,1.7-1.4,2.9-3.7,2.9l-22.2,0c-0.2-0.7-0.5-1.3-1.5-1.5v-1.3c0,0,0,0,0,0V1.6c0-0.1,0-0.2,0.1-0.2c0.1,0,0.2,0.1,0.4,0.2 L50.1,4c1.5,1.4,2.4,2,2.6,2h0c0.2,0,1.1-0.6,2.6-2c0.6-0.6,1.5-1.3,2.6-2.5c0.2-0.1,0-0.2,0.1-0.2c0.1,0,0.8,0.1-0.2,0.3v10.5 c0,0.3,0.6,0.5,1,0.5c0.4,0,1-0.2,1-0.5V1c0-0.6-0.6-1-1.3-1c-0.3,0-0.8,0.1-1.1,0.5c-0.3,0.3-1.9,1.9-4.8,4.7L48,0.5 C47.7,0.2,47.4,0,47,0C46.3,0.1,46,0.4,46,1v10l0,0v2.4c-1,0.2-1.3,0.8-1.5,1.5l-13.1,0c-0.2-0.9-1.1-1.6-2-1.6 c-0.1,0-0.2,0.2-0.3,0.2l-2.3-3.5h0l-6-9.7c-0.1-0.2-0.3-0.3-0.5-0.3c-0.2,0-0.4,0-0.5,0.2l-7.3,11.5c-0.1,0.1-0.1,0.2-0.1,0.2 c0,0.2,0.1,0.3,0.3,0.5c0.1,0.1,0.2,0.1,0.3,0.1c0.2,0,0.3,0,0.4-0.2l3.5-5.4h6.8l2.3,3.4v-0.1l2.2,3.4c-0.4,0.3-0.7,0.7-0.8,1.1 L6.4,15c-1.6,0-3-0.9-3.9-2.2c-0.8-1.2-1.5-2.9-1.4-4.9c0.1-1.3,0.3-2.6,0.6-3.5c0.9-2.2,2.5-3.3,4.7-3.3h6.7 c0.3,0,0.7,0.1,0.6-0.5c0-0.5-0.3-0.5-0.6-0.5H6.3c-2.6,0-4.5,1.3-5.6,4C0.3,5.1,0.1,6.5,0,8c0,1.5,0.2,2.9,0.8,4 c1.1,2.7,2.9,4,5.6,4l20.9,0c0.2,0.9,1,1.6,2,1.6c1,0,1.8-0.7,2-1.6l13,0c0.2,0.9,1,1.6,2,1.6c1,0,1.8-0.7,2-1.6l22.2,0 c2,0,3.4-0.6,4.2-1.9c0.3-0.6,0.6-1.2,0.6-2C75.4,11.2,75.2,10.2,74.8,9.6z M17.5,6.1l2.8-4.4L23,6.1H17.5z'/%3E %3C/g%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain; }

.x-settings {
  width: 100%;
  background-color: #d9dada;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 20px 50px;
  margin-bottom: -15px;
  position: relative;
  z-index: 2; }
  .x-settings__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300; }

.x-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .x-form__select {
    border-radius: 5px; }
    .x-form__select-wrapper {
      position: relative;
      width: 64%;
      border-radius: 5px; }
      .x-form__select-wrapper:hover {
        box-shadow: 0px 0px 3px gray; }
      .x-form__select-wrapper select {
        width: 100%;
        height: 25px;
        padding: 0 20px 0 7px;
        background-color: #fff;
        border: 0;
        font-size: 14px; }
        .x-form__select-wrapper select::-ms-expand {
          display: none; }
    .x-form__select-control {
      position: absolute;
      width: 20px;
      height: 25px;
      background-color: #77c9d7;
      right: 0;
      bottom: 0;
      pointer-events: none;
      border-radius: 5px; }
    .x-form__select-corner::after, .x-form__select-corner::before {
      content: '';
      border: solid transparent;
      position: absolute;
      left: 50%;
      margin-left: -7px;
      bottom: 0;
      width: 0; }
    .x-form__select-corner::before {
      border-top-color: #fff;
      border-width: 7px; }
    .x-form__select-corner::after {
      border-top-color: #77c9d7;
      border-width: 10px;
      margin-left: -10px; }
  .x-form__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px; }
  .x-form__button {
    color: #fff;
    background-color: #77c9d7;
    font-size: 20px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 0 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: 'OpenSans';
    font-weight: 300; }
    .x-form__button:hover {
      background-color: #63abb7; }
  .x-form__title {
    margin-bottom: 10px; }
  .x-form__group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%; }
  .x-form__field-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 15px; }
  .x-form__label {
    margin-right: 10px;
    margin-left: 5px;
    text-align: right; }
  .x-form__field {
    min-width: 60%;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px; }
    .x-form__field:hover, .x-form__field:focus {
      box-shadow: 0px 0px 3px gray; }
    .x-form__field-hint {
      font-size: 12px;
      font-style: italic;
      color: #fff; }
      .x-form__field-hint span {
        color: black; }
    .x-form__field-multi {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 64%; }
      .x-form__field-multi .form__field-wrapper {
        width: 100%; }
      .x-form__field-multi span {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
    .x-form__field-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .x-form__field-wrapper + .x-form__field-wrapper {
        margin-top: 10px; }
      .x-form__field-wrapper input {
        width: 93%; }
    .x-form__field-inner {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
    .x-form__field-button {
      min-width: 26px;
      height: 26px;
      margin-left: 5px;
      background-color: #77c9d7;
      border-radius: 50%;
      border: 2px solid #fff;
      position: relative; }
      .x-form__field-button:hover {
        cursor: pointer; }
      .x-form__field-button--add:hover {
        background-color: #63abb7; }
      .x-form__field-button--add::before, .x-form__field-button--add::after {
        content: '';
        position: absolute;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .x-form__field-button--add::before {
        width: 12px;
        height: 3px; }
      .x-form__field-button--add::after {
        height: 12px;
        width: 3px; }
      .x-form__field-button--remove {
        background-color: #e05454; }
        .x-form__field-button--remove:hover {
          background-color: #b14242; }
        .x-form__field-button--remove::before {
          content: '';
          position: absolute;
          background-color: #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 3px; }
  .x-form__date {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 20%; }

.x-step {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  -ms-flex-positive: 2;
  flex-grow: 2; }
  .x-step__title {
    font-size: 15px;
    text-align: center; }

.x-footer {
  background-color: #d9dada;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%; }
  .x-footer .x-logo {
    margin: 0 auto; }

.x-hexagon__corners::before, .x-hexagon__corners::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 7px;
  z-index: 2;
  transform: scaleX(0.5) rotate(45deg);
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff; }

.x-hexagon__corners::before {
  right: 6px; }

.x-hexagon__corners::after {
  right: 0; }

.x-hexagon__corners.is-collapsed::before, .x-hexagon__corners.is-collapsed::after {
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  border-left: none;
  border-bottom: none; }

.x-hexagon__corners.is-collapsed::before {
  right: 10px; }

.x-hexagon__corners.is-collapsed::after {
  right: 4px; }

.x-hexagon::before, .x-hexagon::after {
  content: "";
  position: absolute;
  z-index: 1;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit; }

.x-hexagon--wrapper {
  cursor: pointer;
  transform: rotate(90deg);
  position: relative;
  width: 52px;
  height: 32px;
  background-color: #fff;
  z-index: 1;
  border-radius: 5px; }
  .x-hexagon--wrapper::before, .x-hexagon--wrapper::after {
    width: 36px;
    height: 36px;
    left: 8px;
    border-radius: 5px; }
  .x-hexagon--wrapper::before {
    top: -16px; }
  .x-hexagon--wrapper::after {
    bottom: -16px; }

.x-hexagon--inner {
  position: absolute;
  width: 48px;
  height: 28px;
  background-color: #d9dada;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px; }
  .x-hexagon--inner::before, .x-hexagon--inner::after {
    width: 34px;
    height: 34px;
    left: 7px;
    border-radius: 3px; }
  .x-hexagon--inner::before {
    top: -15px; }
  .x-hexagon--inner::after {
    bottom: -15px; }

.x-chart {
  text-align: center;
  width: 90%;
  border: 2px solid #d9dada;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 18px; }
  .x-chart:last-child {
    margin-bottom: 0; }
  .x-chart__accent {
    font-weight: 500; }
  .x-chart__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .x-chart__title {
    text-align: center; }
  .x-chart--wide {
    width: 99%; }

.x-legend__item {
  margin-bottom: 10px; }

.x-table {
  margin-bottom: 30px; }
  .x-table__head {
    background-color: #ececec; }
  .x-table__head-cell {
    background-color: #ececec; }
  .x-table__row.is-active {
    background-color: rgba(224, 84, 84, 0.5); }
  .x-table__row--hover {
    background-color: rgba(119, 201, 215, 0.5);
    cursor: pointer; }
  .x-table__cell {
    vertical-align: middle; }

.google-visualization-table-table th, .google-visualization-table-table td {
  border-width: 0 2px 2px 0 !important;
  border-color: #d9dada !important; }
  .google-visualization-table-table th:last-child, .google-visualization-table-table td:last-child {
    border-right: none !important; }

.google-visualization-table-table tr:last-child td {
  border-bottom: none !important; }

.google-visualization-table-tr-sel {
  background-color: #77c9d7 !important; }

.table_div, .bubble_div {
  padding: 1px;
  border: 2px solid #d9dada;
  border-radius: 4px; }

.y-table {
  margin-bottom: 20px; }

.make-choice {
  text-align: center; }

.go-next {
  display: inline-block; }

@media screen and (max-width: 700px) {
  .y-table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .y-table__cell {
      display: block;
      min-width: 90%;
      margin: 0 auto;
      padding-left: 20px; }
      .y-table__cell + .y-table__cell {
        margin-top: 20px;
        padding-left: 0; } }

.x-lots {
  width: 70%;
  background-color: #d9dada;
  margin: 0 auto;
  border-radius: 4px;
  padding: 30px; }
  .x-lots__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px; }
  .x-lots__list {
    margin-right: 10px; }
  .x-lots__item {
    padding: 5px;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-bottom: 5px; }
    .x-lots__item.is-active {
      background-color: #77c9d7; }
  .x-lots__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .x-lots__block {
    font-size: 14px; }
    .x-lots__block--small {
      width: 40%; }
    .x-lots__block--big {
      width: 59%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      justify-content: flex-end; }
  .x-lots__part {
    position: relative;
    margin-right: 25px; }
    .x-lots__part::before {
      content: attr(data-content);
      display: inline-block;
      width: 55px;
      height: 55px;
      background-color: #77c9d7;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #fff;
      color: #fff;
      text-align: center;
      line-height: 55px; }
  .x-lots__description {
    width: 50%; }

/*# sourceMappingURL=main.css.map */
